.Login .Login-loginErrorMsg {
  font-size: 12px; color: red
}


.Login .Login-footer {
    filter:alpha(opacity=60);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
     opacity: 0.8;  
}

/*.Login .Login-main_layout{
       background-image:url('resources/images/buttons/shield.png');
}*/
.Login .Login-loginButton {
	background-color: #3652a5 !important;
	border-radius: 2px;
}

.Login .Login-label6 {
	background-color: #EDEDED;
	border-radius: 0px 0px 5px 5px;
}

.Login .Login-main_layout {
	background-image: url(http://aprendoz.rochester.edu.co/recursos/login_back.jpg);
	background-repeat: no-repeat;
background-size: cover;
}

.Login .Login-label2 {
	background-color: #C1272D;
	color: #fff;
}

.Login .Login-label3 {
	background-color: #C1272D;
	color: #fff;
}

