.Nodisponible .Nodisponible-layoutBox1 {
	background-image: url(http://aprendoz.rochester.edu.co/recursos/directores_back.jpg);
	background-size: cover;
background-repeat: no-repeat;
}

.Nodisponible .Nodisponible-label1 {
	background-color: #C1272D;
	color: #fff;
font-size: 15px;
}

